*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    /* background-image: url('../img/gray_jean\ img.png'); */
    background-color: white;
}

.container{
    margin: 15px 25px;
    border-top: 5px solid orangered;
}

header{
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.top_right{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.right_header{
    flex-direction: column;
    align-items: flex-end;
    display: flex;
}

.links a{
    padding: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.links a:not(icon):hover{
    background-color: orangered;
    color: white;
    font-weight: bold;
}

h1{
    text-align: left;
}

.Our__features{
    background-color: #ffff;
    padding: 40px 50px;
    border-top: 2px solid #ffff;
}

.inner__features{
    display: flex;
}

.feature__row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
    margin: 10px 0 10px 0;
}

.feature__row .icon_holder{
    margin-right: 10px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff !important;
}

.feature__row .content{
    height: 80px;
}

.column{
    width: 50%;
}
