*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */

html,body {
    height: 100vh;
    background-image: url('../img/gray_jean');
}

.main{
    margin: 15px 25px;
    border-top: 5px solid orangered;
}

header {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.top_right{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.right_header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.links a{
    padding: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.links a:not(icon):hover{
    background-color: orangered;
    color: white;
    font-weight: bold;
}

.links a.active{
    background-color: orangered;
    color: #fff;
}

.below_header{
    background-image: url('../img/denis-degioanni-9wH624ALFQA-unsplash.jpg');
    height: 400px;
    display: flex;
    align-items: center;
}

.form_container{
    height: 350px;
    width: 400px;
    background-color: white;
    padding: 20px 30px; 
    margin-top: 5px;
    margin-left: 20px;
}


.form_container > p{
    color: orangered;
    font-weight: 400;

}

.input_row{
    margin-top: 10px auto;
}

.input_row form{
    width: 400px;
}

.input_row p > select{
    width: 100%;
    padding: 8px 10px;
}

.input_row > label, .form_container > span, .input_row p > select{
    color: #a1a199;
    font-weight: 500;
}

form button{
    background-color: orangered;
    color: #fff;
    border: 0;
    outline: 0;
    font-weight: 500;
    padding: 15px 18px;
}

form button:hover{
    background-color: rgb(255, 68, 0, 0.749);
    cursor: pointer;
}

.how_it_works{
    background-color: white;
    height: 450px;
    display: flex;
    align-items: center;
    padding: 40px 50px;
}
.left_how_it_works{
    width: 70%;
    height: 450px;
    padding-top: 20px;
}
.right_how_it_works{
    height: 450px;
    padding-top: 20px;
}
.right_how_it_works img{
    width: 100%;
    
}
.service__options p{
  display: flex;
  align-items: center;
  justify-content: flex-start;  
}
.service__options {
    padding-top: 20px;
}


.left_how_it_works h2{
    padding: 20px;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 48px;
}

.our__features{
    background-color: white;
    padding: 40px 50px;
    border-top: 2px solid #eee;
}

.inner__features{
    display: flex;
}

.column{
    width: 50%;
}

.feature__row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    margin: 10px 0 10px;
}
.feature__row .icon_holder{
    margin-right: 10px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
}
.feature__row .content{
    height: 80px;
}

.up__arrow{
    background-color: black;
    position: fixed;
    bottom: 0px;
    right: 25px;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    outline: none;
    border: 0;
}

.up__arrow:hover{
    cursor: pointer;
    background-color: #00000095;
}
.env{
    /* align-items: center;
    padding-top: 2px;
    padding-bottom: 4px; */
    background-image: url('../img/gray_jean\ img.png');
    /* justify-content: center;
     display: flex; */

}

 .icon_env{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    margin-left: 600px;
    
}

.env h2 {
    align-items: center;
    justify-content: center;
    /* display: flex; */
    margin-left: 500px;
    font-size: xx-large;
}

.env p{
    margin-left: 450px;
    font-size: x-large;
}

.env p > a{
    text-decoration: none;
}

.our__services h2{
    font-size: 2.2em;
    font-weight: 300;
    line-height: 42px;
    /* margin: 0 0 32px 0; */
    text-align: center;
}


.img__holder{
     text-align: center;
    margin: 10px 150px;
    gap: 3px;
}

.img__holder img{
    height: 60px;
    width: 60px;
    margin: 0 15px;
}

footer{
    display: flex;
    padding: 50px;
    background: #0e0e0e;
    border-top: 4px solid #0e0e0e;
    font-size: 0.9em;
    position: relative;
    clear: both;
}

.Left__footer h2{
    color: orangered;
    margin-left: 10px;
}

.Left__footer p{
    color: #777;
    margin-left: 10px;
    line-height: 24px;
    margin: 0 0 20px
}

.Right__footer{
    color: #fff;
    /* font-size: x-large; */
    margin-left: 300px;
}

.Right__footer a{
    color: #fff;
}

.contact{
    font-size: small;
}

.inter{
    /* font-size: 17px; */
    color: #777;
    line-height: 24px;
    margin: 0 0 20px
}

.phone{
    font-size: xx-large;

}

.Left__footericon h3{
    color: #fff;
    padding-top: 200px;
}

.Right__footer .icon{
     height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: orangered;
}


