*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100vh;
    background-image: url('../img/gray_jean\ img.png');
}

.main{
    margin: 15px 25px;
    border-top: 5px solid orangered;
}

header {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.top_right{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.right_header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.links a{
    padding: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.links a:not(icon):hover{
    background-color: orangered;
    color: white;
    font-weight: bold;
}

.below_header{
    background-image: url('../img/denis-degioanni-9wH624ALFQA-unsplash.jpg');
    height: 400px;
    display: flex;
    align-items: center;
}

.form_container{
    height: 350px;
    width: 400px;
    background-color: white;
    padding: 20px 30px; 
    margin-top: 5px;
    margin-left: 20px;
}


.form_container > p{
    color: orangered;
    font-weight: 400;

}

.input_row{
    margin-top: 10px auto;
}

.input_row form{
    width: 400px;
}

.input_row p > select{
    width: 100%;
    padding: 8px 10px;
}

.input_row > label, .form_container > span, .input_row p > select{
    color: #a1a199;
    font-weight: 500;
}

form button{
    background-color: orangered;
    color: #fff;
    border: 0;
    outline: 0;
    font-weight: 500;
    padding: 15px 18px;
}

form button:hover{
    background-color: rgb(255, 68, 0, 0.749);
    cursor: pointer;
}